@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html,
body,
#root {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

body {
  direction: rtl;
  background: #0c140d;
}
